<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Omniscent</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">
	.bs-example{
    	margin: 20px;
    }
</style>
  <style type="text/css">
    .gsc-resultsHeader {
width: 100%;
display: none;
clear: both;
}
form.gsc-search-box {
font-size: 13px;
margin-top: 0;
display: none;
margin-right: 0;
margin-bottom: 4px;
margin-left: 0;
width: 100%;
}
.gsc-results .gsc-cursor-box {
margin-bottom: 10px;
display: none;
}
    </style>
    <script src="https://www.google.com/jsapi"
        type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
    //<!
      function makeActive(e)
  {
    console.log($(e).text());
    $("#Engine1").text($(e).text());
    
  }
function makeActive2(e)
  {
    console.log($(e).text());
    $("#Engine2").text($(e).text());
    
  }
  function makeActive3(e)
  {
    console.log($(e).text());
    $("#Engine3").text($(e).text());
    
  }
  function makeActive4(e)
  {
    console.log($(e).text());
    $("#Engine4").text($(e).text());
    
  }


    google.load('search', '1');

    var search = ""

    $(document).ready(function() {
      $("#submit").click(function()
      {
        search = document.getElementById("searchParam").value;
        console.log(search);
        Search(); onclick="makeActive(this)"
      });
    });

    function Search() {
      // Create a search control
      var searchControl = new google.search.SearchControl();

      searchControl.addSearcher(new google.search.WebSearch());


      var drawOptions = new google.search.DrawOptions();
      drawOptions.setSearchFormRoot(document.getElementById("searchForm"));

      searchControl.draw(searchOne, drawOptions);

      // execute an inital search
      searchControl.execute(search);

      var searchControl2 = new google.search.SearchControl();

      searchControl2.addSearcher(new google.search.ImageSearch());


      var drawOptions = new google.search.DrawOptions();
      drawOptions.setSearchFormRoot(document.getElementById("searchForm"));

      searchControl2.draw(searchTwo, drawOptions);

      // execute an inital search
      searchControl2.execute(search);

      var searchControl3 = new google.search.SearchControl();

      searchControl3.addSearcher(new google.search.NewsSearch());


      var drawOptions = new google.search.DrawOptions();
      drawOptions.setSearchFormRoot(document.getElementById("searchForm"));

      searchControl3.draw(searchThree, drawOptions);

      // execute an inital search
      searchControl3.execute(search);

      var searchControl4 = new google.search.SearchControl();

      searchControl4.addSearcher(new google.search.VideoSearch());


      var drawOptions = new google.search.DrawOptions();
      drawOptions.setSearchFormRoot(document.getElementById("searchForm"));

      searchControl4.draw(searchFour, drawOptions);

      // execute an inital search
      searchControl4.execute(search);

    }
   // 

    //]]>
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Omniscient</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="search">Search</a></li>
        <li><a href="profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if 'username' in session %}
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{session['username']}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="logout">Sign Out</a></li>
          </ul>
        </li>
            {% else %}
            <li><a href="/">Log In</a></li>
            {% endif %}
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<!-- <div class="col-lg-10 col-lg-offset-1">
  <div class="alert alert-danger"><center>You must enter a query</center></div>
  </div> -->
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="input-group">
      <input id = "searchParam" type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn" >
        <button id="submit" class="btn btn-success" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row" style=" padding-top:15px;padding-left:10px;padding-right:10px;">
  <div class="col-lg-3" >


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title dropdown">
                        <a href="#" id="Engine1" data-toggle="dropdown" class="dropdown-toggle">Google Web</a><b class="caret"></b>
                        <ul class="dropdown-menu">
                            <li onclick="makeActive(this)"><a href="#">Google</a></li>
                            <li onclick="makeActive(this)"><a href="#">Bing (BETA)</a></li>
                            <li onclick="makeActive(this)"><a href="#">Wikipedia</a></li>
                            <li onclick="makeActive(this)"><a href="#">Yahoo (BETA)</a></li>
                            <li onclick="makeActive(this)"><a href="#">DuckDuckGo</a></li>
                            <li onclick="makeActive(this)"><a href="#">Reddit</a></li>
                            <li onclick="makeActive(this)"><a href="#">Facebook (BETA)</a></li>
                            <li onclick="makeActive(this)"><a href="#">Twitter (BETA)</a></li>
                            <li onclick="makeActive(this)"><a href="#">Music</a></li>
							<li onclick="makeActive(this)"><a href="#">Images</a></li>
                            <li class="divider"></li>
                            <li onclick="makeActive(this)"><a href="#" data-toggle="modal" data-target="#myModal">Specific Domain (BETA)</a></li>
                        </ul>
                    </h3>
  </div>
  <div id="searchOne"class="panel-body">
  </div>
</div>

  </div>
  <div class="col-lg-3">


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title dropdown">
                        <a href="#" id="Engine2" data-toggle="dropdown" class="dropdown-toggle">Google Image</a><b class="caret"></b>
                        <ul class="dropdown-menu">
                            <li onclick="makeActive2(this)"><a href="#">Google</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Bing (BETA)</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Wikipedia</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Yahoo (BETA)</a></li>
                            <li onclick="makeActive2(this)"><a href="#">DuckDuckGo</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Reddit</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Facebook (BETA)</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Twitter (BETA)</a></li>
                            <li onclick="makeActive2(this)"><a href="#">Music</a></li>
							<li onclick="makeActive2(this)"><a href="#">Images</a></li>
                            <li class="divider"></li>
                            <li onclick="makeActive2(this)"><a href="#" data-toggle="modal" data-target="#myModal">Specific Domain (BETA)</a></li>
                        </ul>
                    </h3>
  </div>
  <div class="panel-body" id="searchTwo">
  </div>
</div>

  </div>
  <div class="col-lg-3">


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title dropdown">
                        <a href="#" id="Engine3" data-toggle="dropdown" class="dropdown-toggle">Google News</a><b class="caret"></b>
                        <ul class="dropdown-menu">
                            <li onclick="makeActive3(this)"><a href="#">Google</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Bing (BETA)</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Wikipedia</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Yahoo (BETA)</a></li>
                            <li onclick="makeActive3(this)"><a href="#">DuckDuckGo</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Reddit</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Facebook (BETA)</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Twitter (BETA)</a></li>
                            <li onclick="makeActive3(this)"><a href="#">Music</a></li>
							<li onclick="makeActive3(this)"><a href="#">Images</a></li>
                            <li class="divider"></li>
                            <li onclick="makeActive3(this)"><a href="#" data-toggle="modal" data-target="#myModal">Specific Domain (BETA)</a></li>
                        </ul>
                    </h3>
  </div>
  <div class="panel-body" id="searchThree">
  </div>
</div>

  </div>
  <div class="col-lg-3">


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title dropdown">
                        <a href="#" id="Engine4" data-toggle="dropdown" class="dropdown-toggle">Google Video</a><b class="caret"></b>
                        <ul class="dropdown-menu">
                            <li onclick="makeActive4(this)"><a href="#">Google</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Bing (BETA)</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Wikipedia</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Yahoo (BETA)</a></li>
                            <li onclick="makeActive4(this)"><a href="#">DuckDuckGo</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Reddit</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Facebook (BETA)</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Twitter (BETA)</a></li>
                            <li onclick="makeActive4(this)"><a href="#">Music</a></li>
							<li onclick="makeActive4(this)"><a href="#">Images</a></li>
                            <li class="divider"></li>
                            <li onclick="makeActive4(this)"><a href="#" data-toggle="modal" data-target="#myModal">Specific Domain (BETA)</a></li>
                        </ul>
                    </h3>
  </div>
  <div class="panel-body" id="searchFour">
  </div>
</div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Domain Search</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
  <span class="input-group-addon">Domain</span>
  <input type="text" class="form-control" placeholder="Enter Url">
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>                                		